*.Debug
*.Release
*.log
*.exe
*.obj
*.dll
moc_*
release/Makefile
release/*.res
release/*.cpp
release/bearer
release/iconengines
release/imageformats
release/platforms
release/resources
release/translations
*.stash
Makefile
src/Dooscape.pro.user
*.qm
