*.Debug
*.Release
*.user
*.log
*.exe
*.obj
*.dll
*.qm
moc_*
release/*.res
release/*.cpp
release/bearer
release/iconengines
release/imageformats
release/platforms
release/resources
release/translations
*.stash
Makefile
